{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content%}
<!-- Search Bar-->
{% include 'includes/search.html' %}

<section>
	<div class="container w-100 cta cta-large">
		<!--Aspire for this image to be set by the site owner-->
		<img class="cta-img" src="{{ MEDIA_URL }}header.jpg" alt="" />
		<div class="cta-text">
			<h3>Beautiful Cakes for all Occations</h3>
			<a class="button cta-button" href="{% url 'products' %}?sort=name&direction=asc">
				Shop Now
			</a>
		</div>
	</div>

	{% for category in categories %}
	<div class="container w-100 cta cta-small">
		<img class="cta-img" src="{{ category.image.url }}" alt="{{ category.name }}" />
		<div class="cta-text">
			<h3>{{ category.friendly_name }}</h3>
			<a class="button cta-button"
				href="{% url 'products' %}?category={{ category.name }}&sort=name&direction=asc">
				Shop Now
			</a>
		</div>
	</div>
	{% endfor %}
</section>

{% endblock %} 

{% block postload_js %}
{% endblock %}
