{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<div class="page-title">
    <h2>Mange Shop</h2>
</div>

{% endblock %}

<section>
	<div class="Card">
		<div class="Card-header">
			<h3>Site Management</h3>
		</div>
		<div class="Card-content">
			<a href="{% url 'products' %}" class="button">Product Management</a>
			<a href="{% url 'gallery' %}" class="button">Gallery Management</a>
			<a href="{% url 'categories' %}" class="button">Category Management</a>
			<a href="{% url 'faqs' %}" class="button">Information Management</a>
		</div>
	</div>
	<div class="Card">
		<div class="Card-header">
			<h3>Orders</h3>
		</div>
		<div class="Card-content">
			{% include 'includes/search.html' %}
			{% for order in orders %}
				<div class="card">
					<a href="{% url 'order_history' order.order_number %}"
					title="{{ order.order_number }}">
						{{ order.order_number|truncatechars:6 }}
					</a>
					{{ order.date }}
					£{{ order.grand_total }}
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %} 

{% block postload_js %}
{% endblock %}
