{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<div class="page-title">
    <h2>Mange Shop</h2>
</div>

{% endblock %}

{% block content%}

<section class="w-100">
	<div class="card">
		<div class="card-header">
			<h3>Site Management</h3>
		</div>
		<div class="card-content site-buttons">
			<a class=" button management-btn" href="{% url 'products' %}">Product Management</a>
			<a class=" button management-btn" href="{% url 'gallery' %}">Gallery Management</a>
			<a class=" button management-btn" href="{% url 'categories' %}">Category Management</a>
			<a class=" button management-btn" href="{% url 'faqs' %}">Information Management</a>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			<h3>Orders</h3>
		</div>
		<div class="card-content">
			<div class="order-search">
				{% include 'includes/search.html' %}
			</div>
			{% for order in orders %}
				<div class="card">
					<div class="card-header row">
						<a href="{% url 'order_history' order.order_number %}"
						title="{{ order.order_number }}">
							Order No: <strong>{{ order.order_number }} </strong>
						</a>
						{{ order.date|date:"d M Y" }}
					</div>
					<div class="card-content">
						<div class="order-content row">
							<div class="order-details w-50 col">
								<p>Name: <strong>{{order.full_name}}</strong></p>
								<p>Delivery Date: <strong>{{order.delivery_date|date:"d M Y"}}</strong></p>
								<p>Total Amount: <strong>£{{ order.grand_total }}</strong></p>
							</div>
							<div class="order-comments w-50">
								<p><strong>Order Comments</strong></p>
								{% if order.order_comments%}
									<p>{{order.order_comments|truncatechars:200 }}</p>
								{% else %}
									<p class="comment">No Comments</p>
								{% endif %}
							</div>
						</div>
						<div class="order-footer">
								<a class="button details-button" href="{% url 'order_history' order.order_number %}"
								title="{{ order.order_number }}">
								Details
								</a>
							<p>{{order.status}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %} 

{% block postload_js %}
{% endblock %}
