{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Search Bar-->
{% include 'includes/search.html' %}

<div class="page-title">
    <h2>Edit Image</h2>
</div>

{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'edit_image' image.id %}" enctype="multipart/form-data">
        {% csrf_token%}
        {{ form }}
        <div class="col">
            <a href="{% url 'gallery' %}" class="">
                <span class="">Back</span>
            </a>
            <button type="submit">Edit Image</button>
        </div>
    </form>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
{% endblock %}