{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <!-- Search Bar-->
    {% include 'includes/search.html' %}
    {% if request.user.is_superuser %}
    <div class="cat-header row">
        <h2 class="page-title">Gallery</h2>
        <div>
            <a href="{% url 'manage_shop' %}" class="button">
                Back
            </a>
            <a href="{% url 'add_image' %}" class="button">Add Image</a>
        </div>
    </div>
    {% else %}
        <h2 class="page-title">Gallery</h2>
    {% endif %}
{% endblock %}

{% block content %}

    {% if request.user.is_superuser %}
        <div class="card">
            <div class="card-header">
                <p class="big-text">Add an Image</p>
            </div>
            <div class="card-content">
                <form method="POST" action="{% url 'add_image' %}" enctype="multipart/form-data">
                    {% csrf_token%}
                    <div class="gallery-form col">
                        <div class="row gallery-form-row">
                            <p class="label">
                                Label:
                            </p>
                            <p class="input">
                                {{ form.tag_line }}
                            </p>
                        </div>
                        <div class="row gallery-form-row">
                            <p class="label">
                                Alt Tag:
                            </p>
                            <p class="input">
                                {{ form.alt }}
                            </p>
                        </div>
                        <div class="image-picker col">
                            <p class="label">
                                Image:
                            </p>
                            <p class="input">
                            {{ form.image }}
                            </p>
                        </div>
                    </div>
                    <div class="button-row">
                        <a href="{% url 'gallery' %}" class="button">
                            Back
                        </a>
                        <button type="submit">Add Image</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    {% for i in images %}
        <div class="image-card">
            <div class="image">
                <img src="{{ i.image.url }}" alt="{{ i.alt }}">
                <p class="image-text text-center">{{ i.tag_line }}</p>
            </div>
            {% if request.user.is_superuser %}
                <div class="super-user-button-row">
                    <a href="{% url 'edit_image' i.id %}" class="button">Edit</a>
                    <a class="button" href="{% url 'delete_image' i.id %}">Delete</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}

{% block postload_js %}
    {{ block.super }}
{% endblock %}