{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Search Bar-->
    {% include 'includes/search.html' %}
    <h1>Gallery</h1>
    <a href="{% url 'add_image' %}" class="button">Add Image</a>
    {% for i in images %}
        <div class="image-card">
            <img src="{{ i.image.url }}" alt="{{ i.alt }}">
            <p class="tag">{{ i.tag_line }}</p>
        </div>
        {% if request.user.is_superuser %}
            <div class="row">
                <a href="{% url 'edit_image' i.id %}" class="button">Edit</a>
                <a class="button" href="{% url 'delete_image' i.id %}">Delete</a>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block postload_js %}
    {{ block.super }}
{% endblock %}