{% extends 'base.html' %}

{% load static %}

{% block page_header %}
	<!-- Search Bar-->
	{% include 'includes/search.html' %}
	
	{% if request.user.is_superuser %}
		<div class="cat-header row">
			<h2 class="page-title">Frequently Asked Questions</h2>
			<div>
				<a href="{% url 'manage_shop' %}" class="button">
					Back
				</a>
			</div>
		</div>
	{% else %}
		<h2 class="page-title">Frequently Asked Questions</h2>
	{% endif %}

{% endblock %}

{% block content%}

<section class="w-100">
	{% if request.user.is_superuser %}
		<div class="card add-faq-card restrict">
			<div class="card-header">
				<p class="big-text">Add a FAQ</p>
			</div>
			<div class="card-content">
				<form method="POST" action="{% url 'add_faq' %}">
					{% csrf_token%}
					<div class="form-content">
						<div class="faq-form-col">
							<p class="label">
								Question:
							</p>
							<p class="input">
								{{ form.faq_title }}
							</p>
						</div>
						<div class="faq-form-col">
							<p class="label">
								Answer:
							</p>
							<p class="input">
								{{ form.faq_content }}
							</p>
						</div>
					</div>
					<div class="button-row">
						<button type="submit">Add FAQ</button>
					</div>
				</form>
			</div>
		</div>
	{% endif %}

	{% for question in faqs %}
		<div class="card faq-card restrict">
			<div class="card-header faq-header row collapsible">
				<p class="big-text">{{ question.faq_title }}</p>
				<img class="icon small-icon" src="{{ MEDIA_URL }}icons/expand.svg" alt="expand" />
			</div>
			<div class="content">
				<p class="question">{{ question.faq_content }}</p>
				{% if request.user.is_superuser %}
					<div class="super-user-button-row row">
						<a href="{% url 'edit_faq' question.id %}" class="button">Edit</a>
						<div class="open-modal">
							<p class="delete click button">
								Delete
							</p>
						</div>
						<!-- Delete Modal -->
						<div class="modal-background hidden" data-closer="close">
							<div class="modal">
								<div class="modal-title">
									<p>Delete Question?</p>
									<img class="icon small-icon inline-img" src="{{ MEDIA_URL }}icons/close.svg" alt="close" class="close" data-closer="close">
								</div>
								<div class="modal-content">
									<div class="modal-par col">
										<p>Are you sure you want to delete</p> 
										<p>"{{ question.faq_title }}"?</p>
									</div>
								</div>
								<div class="modal-btns">
									<div class="button no-btn" data-closer="close">
										No, Keep it
									</div>
									<a class="button" href="{% url 'delete_faq' question.id %}">Yes Delete</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}

</section>

{% endblock %}

{% block postload_js %}
	{% include 'includes/collapsible_script.html' %}
	{% include 'includes/modal_script.html' %}
{% endblock %}
