{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Search Bar-->
{% include 'includes/search.html' %}

<div class="page-title">
    <h2>Frequently Asked Questions</h2>
</div>

{% endblock %}

{% block content%}

<section>
	{% for fact in faqs %}
		<div class="container w-100 col">
			<div class="faq-header w-100">
				<h3>{{ fact.faq_title }}</h3>
			</div>
			<div class="faq-content w-100">
				<p>{{ fact.faq_content }}</p>
			</div>
			{% if request.user.is_superuser %}
				<div class="row">
					<a href="{% url 'edit_faq' fact.id %}" class="button">Edit</a>
					<a class="button" href="{% url 'delete_faq' fact.id %}">Delete</a>
				</div>
        {% endif %}
		</div>
	{% endfor %}
	
	{% if request.user.is_superuser %}
		<h3>Add FAQ</h3>
		<form method="POST" action="{% url 'add_faq' %}">
			{% csrf_token%}
			{{ form }}
			<div class="col">
				<a href="{% url 'faqs' %}" class="">
					<span class="">Back</span>
				</a>
				<button type="submit">Add FAQ</button>
			</div>
		</form>
	{% endif %}
</section>

{% endblock %} 

{% block postload_js %}
{% endblock %}
