{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Search Bar-->
{% include 'includes/search.html' %}
{% endblock %}

{% block content%}

<div class="container w-100 col restrict">
    {% if basket_items %}
        <div class="w-100 col basket-header">
            <div class="basket-top w-100 col">
                <div class="total w-100 row">
                    <h2>Basket Total</h2>
                    <h3><strong>£{{ grand_total }}</strong></h3>
                </div>
                <div class="checkout-btn">
                    {% if checkout %}
                        <a class="button" href="{% url 'checkout' %}">
                            Proceed to checkout
                        </a>
                    {% else %}
                        <p class="button">
                            Miniumum quantity not met
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr class="basket-hr">
        <div class="w-100 col basket-contents">
            {% for item in basket_items %}
                <div class="card basket-card col">
                    <div class="card-content basket-card-content row">
                        <div class="product-img basket-image">
                            {% if item.product.image %}
                                <a href="{% url 'product_detail' item.product.id %}">
                                    <img src="{{ item.product.image.url }}" alt=""/>
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' item.product.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="product-info-basket col">
                            <div class="product-title w-100">
                                <a href="{% url 'product_detail' item.product.id %}">
                                    <h3 class="product-title">{{ item.product.name }}</h3>
                                </a>
                            </div>
                            <div class="row product-details">
                                <div class="product-category">
                                    <a class="category link"
                                        href="{% url 'products' %}?category={{ item.product.category.name }}&sort=name&direction=asc">                                        {{ item.product.category.friendly_name }}
                                    </a>
                                </div>
                                <div class="price row">
                                    <p class="product-price">
                                        <strong>
                                            £{{ item.product.price }}
                                        </strong> 
                                    </p>
                                    <p class="each">
                                        <small>each</small>
                                    </p>
                                </div>
                            </div>
                            <div class="basket-button-row row">
                                <!-- update price form-->
                                {% include "basket/quantity-from.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr class="basket-hr">
        <div class="w-100 col basket-totals">
            <div class="total row">
                <p>Basket Total</p>
                <p><strong>£{{ total }}</strong></p>
            </div>
            <div class="total row">
                <p>Delivery Fee</p>
                {% if delivery > 0 %}
                    <p><strong>£{{ delivery }}.00</strong></p>
                {% else %}
                    <p>Free <strong class="line-through">£{{ DELIVERY_COST }}.00</strong></p>
                {% endif %}
            </div>
            <div class="total row">
                <p>Grand Total</p>
                <p><strong>£{{ grand_total }}</strong></p>
            </div>
            {% if not checkout %}
                <p class="min-order" >Miniumum Order Quantity 6, add {{ delta }} more yummy cake(s) to Checkout</p>
            {% endif %}
        </div>
    {% else %}
        <div class="no-basket col">
            <p class="no-basket">Your Basket is Empty, go get some yummy Cakes!</p>
            <a class="button" href="{% url 'products' %}?sort=name&direction=asc">Continue Shopping</a>
        </div>
    {% endif %}
</div>

{% endblock %} 

{% block postload_js %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}

<!-- Taken from the boutique_ado project-->
<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_size': size
        };

        $.post(url, data)
            .done(function() {
                location.reload();
            });
    })
</script>
{% endblock %}