{% load static %}

<form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <button class="decrement-qty button" 
                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                <span>
                    <img class="icon" src="{% static 'icons\remove.svg' %}" alt="search">
                </span>
            </button>
            <input class="form-control form-control-sm qty_input" type="number"
                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <button class="increment-qty button"
                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                <span>
                    <img class="icon" src="{% static 'icons\add.svg' %}" alt="search">
                </span>
            </button>
        </div>
    </div>
</form>

<a class=" button update-link">
        <small>Update</small>
</a>
<a class="button remove-item" id="remove_{{ item.item_id }}">
        <small>Remove</small>
</a>