*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Dongle', sans-serif;
}

/* ---------- Colours ---------- */
/* CSS HEX */
:root {
    --gold: #EDAA01;
    --black: #16191D;
    --white: #FFFFFF;
    --light-gray: #D1D1D1;
    --gray: #A7A7A7;
    --dark-gray: #636363;
}

/* ---------- standard classes ---------- */
h1, h2, h3, h4, h5, h6, p {
    color: var(--black);
}

p {
    font-size: 18px;
}

.container {
    display: flex;
    align-items: center;
}

.w-100{
    width: 100%;
}

.w-50{
    width: 50%;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
}

.icon{
    display: inline-block;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.col{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.text-center{
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--black);
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-title{
    margin-left: 10px;
}

.link{
    text-decoration: underline;
    color: blue;
    padding-left: 3px;
    padding-right: 3px;
}

.social-icon{
    height: 35px;
    width: 35px;
}

.small-icon{
    height: 18px;
    width: 18px;
    padding: 2px;
}

/* Cards */
.card{
    margin: 10px;
    margin-top: 0px;
    border: solid 1px black;
}

.card-header{
    justify-content: space-between;
    padding: 5px;
    padding-bottom: 0px;
}

.card-content{
    padding: 5px;
}

/* forms */
button,
.button {
    border: solid 1px var(--black);
    color: var(--black);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0px 5px;
    font-size: 18px;
    background-color: var(--light-gray);
    width: fit-content;
}

input {
    font-size: 18px;
    padding-left: 5px;
    border: solid 1px var(--black);
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.checkbox{
    vertical-align: middle;
}

.stripe-style-input{
    font-size: 18px;
    border: solid 1px var(--black);
}

/* quantity */
.form-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.qty-row{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.input-group{
    display: flex;
    height: 20px;
    align-items: baseline;
}

.form-control-sm{
    display: inline-block;
    height: 20px;
    text-align: center;
    align-self: flex-start;
    border-left-color: var(--white);
    border-right-color: var(--white);
}

.qty-btn{
    display: flex;
    height:20px;
    width: 20px;
    align-items: center;
    justify-content: center;
}

/* ---------- Base ---------- */
/* header */
.header {
    top: 0px;
    background-color: var(--gray);
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    height: 35px;
}

.logo{
    padding-left: 5px;
}

.nav-buttons{
    align-items: center;
    height: 35px;
}

.basket-icon{
    height: 35px;
}

.nav{
    height: 35px;
}

/* navBar */
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
/* start */

.sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--gray);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 35px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding-left: 15px;
    text-decoration: none;
    font-size: 25px;
    color: var(--black);
    display: block;
    transition: 0.3s;
}

  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--gold);
}

  /* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
}

/* end */

.indent{
    margin-left: 30px;
}

/* content */
.page-content{
    min-height: calc(100vh - (35px + 170px)); /* vh - (header + footer) */
}

/* messages */
.message-container{
    padding-left: 10px;
    background-color: var(--gold);
}

/* footer */

footer{
    width: 100%;
    padding: 10px;
    background-color: var(--gray);
}

.creator{
    align-items: baseline;
}

.github{
    vertical-align: middle;
}

/* ---------- Search bar ---------- */
.search{
    justify-content: space-between;
    height: 35px;
}

.search-bar{
    font-size: 30px;
    height: 35px;
    padding: 5px;
    border-right: none;
}

.search-btn{
    height: 35px;
    background-color: var(--light-gray);
}

/* ---------- home ---------- */
.cta{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-large{
    height: 550px;
}

.cta-small{
    height: 250px;
}

.cta-img{
    position: absolute;
    inset: 0px;
    overflow: hidden;
}

.cta-text {
    position: absolute;
    background-color: var(--light-gray);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-button{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- products ---------- */
/* header */
.products-header{
    padding: 10px 10px 0px 10px;
}

.products-filters{
    justify-content: space-between;
}

.sort-select-wrapper{
    align-self: flex-start;
}

.product-num{
    align-self: flex-end;
    font-size: smaller;
}

/* product card */
.product-title{
    font-size: 28px;
    line-height: 28px;
}

.product-card-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-img{
    height: 170px;
    width: 170px;
    padding-right: 5px;
}

.product-info{
    height: 170px;
    justify-content: space-between;
}

.product-details{
    display: flex;
    justify-content: space-between;
}

.product-price{
    font-size: 23px;
    line-height: 23px;
}

.product-text{
    line-height: 0.8;
    text-align: center;
    justify-content: center;
    height: 46px;
    overflow: hidden;
}

.buy-row{
    padding: 0px;
}

.add-basket-btn{
    margin-top: 5px;
    height: 28px;
    min-width: 86px;
}

.qty-prod-card{
    width: 46px;
}

.basket-button-row,
.contact-button-row,
.super-user-button-row{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.super-user-button{
    font-size: 18px;
    min-width: 50px;
}

/* individual product */

.product-page{
    margin: 10px;
}

.product-image{
    height: 300px;
}

.product-category{
    font-size: large;
}

.each{
    padding-left: 5px;
}

.product-basket-btn{
    font-size: 18px;
    height: 28px;
    margin: 5px;
}

.product-superuser{
    justify-content: flex-start;
}

.product-superuser .super-user-button{
    margin-left: 5px;
    margin-right: 5px;
}

/* ---------- basket ---------- */

.basket-header{
    display: flex;
    align-items: center;
}

.basket-top{
    align-items: center;
    padding: 10px;
}

.total{
    justify-content: space-between;
    padding: 0px 10px;
}

.basket-hr{
    margin: 5px 0px;
    border: 1px solid var(--gold);
    width: 33%;
    margin-bottom: 15px;
    ;
}

.basket-card-content{
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.basket-image{
    height: 90px;
    width: 90px;
    padding: 0px;
}

.product-info-basket{
    width: 190px;
}

.basket-totals{
    padding: 10px;
}

.line-through{
    text-decoration: line-through;
}

.min-order{
    padding: 10px;
    text-align: center;
    line-height: 0.8;
    color: var(--gold);
}

.no-basket{
    align-items: center;
    padding: 20px 0px;
}

/* ---------- Manage Shop ---------- */
.site-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.order-card{
    margin-left: 0px;
    margin-right: 0px;
}

.management-btn{
    padding: 5px;
    margin-bottom: 5px;
    min-width: 140px;
    font-size: 17px;
    background-color: var(--light-gray);
}

.order-search{
    margin-bottom: 10px;
}

.order-footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.comment{
    padding-left: 5px;
}

.details-button{
    padding: 0px 5px;
}


/*---------- stripe ----------*/

.stripe-element{
    padding: 10px;
}

/* ---------- Allauth --------- */
.allauth-head{
    margin-left: 5px;
}

.allauth-body{
    margin-left: 5px;
    margin-right: 5px;
}

.allauth-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
}

.signup-form{
    margin-bottom: 10px
}

.contact-form p,
.password_reset p,
.signup-form p,
.login-form p{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    margin-bottom: 0px;
}

.contact-form p input,
.password_reset p input,
.login-form p input {
    padding-left: 5px;
    margin-left: 5px;
    width: 80%;
}

.signup-form p input {
    padding-left: 5px;
    margin-left: 5px;
    width: 65%;
}

#id_remember{
    display: flex;
    justify-content: flex-start;
    width: auto;
    margin-top: 5px;
}

.allauth-btn-row{
    display: flex;
    align-items: center;
    padding: 5px;
}

.sign-btn{
    width: 70px;
}

.account{
    display: flex;
    justify-content: flex-end;
}

.password-link{
    font-size: small;
}

.errorlist{
    text-align: center;
    background-color: var(--gold);
}

.allauth-text{
    text-align: center;
}

.sign-out{
    display: flex;
    justify-content: space-around;
}

.allauth-confirm-btn{
    display: flex;
    justify-content: center;
}

/* --------- Checkout --------- */

.pay-card-header{
    justify-content: space-between;
    font-size: 20px;
}

.checkout-comment{
    text-align: center;
    padding-bottom: 5px;
}

.card-buttons{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.checkout-amount{
    text-align: right;
    color: var(--gold);
    line-height: 0.8;
    padding-right: 5px;
}

/* ---------- Contact Us ---------- */

#message-label{
    padding-right: 80%;
    padding-top: 5px;
    line-height: 0.8;
}

#id_message_text{
    width: 100%;
    height: 80px;
    padding-bottom: 5px;
}

/* ---------- Profile Page ---------- */
.profile-contact,
.profile-address{
    padding-top: 0px;
}

.profile-contact p,
.profile-address p{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.profile-contact p input,
.profile-address p input{
    width: 60%;
    margin-left: 5px;
}

.profile-button-row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.profile-address .stripe-style-input{
    width: 60%;
    margin-left: 5px;
}

.order-history{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.order-history-footer{
    padding-bottom: 5px;
}

.order-status{
    font-size: large;
    color: var(--gold);
}

.no-order{
    padding-bottom: 5px;
}

.no-order-box{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

/*------- Overrides ----------*/

.hidden{
    display: none;
}