<script>
    // ---------- Open modal
    let item = document.getElementsByClassName('open-modal');

    for (let i = 0; i < item.length; i++) {
        item[i].addEventListener('click', function () {
            let content = this.nextElementSibling;
            content.classList.remove('hidden');
        });
    }
    // ---------- Close a modal

    // event listener for x span
    const span = document.getElementsByClassName('close');

    for (let i = 0; i < span.length; i++) {
        span[i].addEventListener('click', (e) => ModalClose(e));
    }

    // event listener for clicking off the modal
    const modal = document.getElementsByClassName('modal-background');

    for (let i = 0; i < modal.length; i++) {
        modal[i].addEventListener('click', (e) => ModalClose(e));
    }

    // event listener for 'no' or 'cancel' button on modal
    const no = document.getElementsByClassName('no-btn');

    for (let i = 0; i < no.length; i++) {
        no[i].addEventListener('click', (e) => ModalClose(e));
    }

    // close the modal by adding hidden on the background only if the data target is 'close'
    function ModalClose(e) {
        if (e.target.dataset.closer === 'close') {
            let element = e.target.closest('.modal-background');
            element.classList.add('hidden');
        }
    }
</script>