{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1 class="allauth-head">{% trans "Password Reset" %}</h1>
    
    <div class="allauth-body">
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p class="allauth-text">{% blocktrans %}We have sent you an e-mail.{% endblocktrans %}</p>
        <p class="allauth-text">
            Please<a class="link" href="">Contact us</a>
            if you have any issues.
        </p>
        <p class="account"><a class="link" href="{% url 'account_login' %}">Back to Signin</a></p>
    </div>
{% endblock %}
