{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    {% block meta %}
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    {% endblock %}

    {% block extra_meta %}
    {% endblock%}

    {% block core_css %}
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- my stylesheet -->
        <link rel='stylesheet' href="{% static 'css/base.css' %}"></link>
    {% endblock %}

    {% block extra_css %}
    {% endblock%}

    {% block core_js %}
    {% endblock %}

    {% block extra_js %}
    {% endblock%}

    <title>Cake Shop {% block extra_title %}{% endblock%}</title>
</head>
<body>
    <header class='container header sticky'>
        <div class="logo">
            <a href="{% url 'home' %}">
                <h2>
                    Cake Shop
                </h2>
            </a>
        </div>
        <div class="container nav-buttons">
            <div class="basket">
                <a href="">
                    <img class="icon"  src="{% static 'icons\shopping_basket.svg' %}" alt="basket">
                </a>
            </div>
            <div class="nav">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="">Products</a>
                    <a class="indent" href="">All Products</a>
                    <!-- statement here to cyle through the categories on the database-->
                    <a class="indent" href="">Cupcakes</a>
                    <a class="indent" href="">Bouquets</a>
                    <a class="indent" href="">Seasonal</a>
                    <a href="">Gallery</a>
                    <a href="">FAQ's</a>
                    <a href="">Contact</a>
                    <a href="">Log In</a>
                    <a href="">Register</a>
                    <a href="">Basket (0)</a>
                </div>
                <img onclick="openNav()" class="icon" src="{% static '\icons\menu.svg' %}" alt="menu">
            </div>
        </div>
    </header>

    {% if messages %}
        <div class='message-container'></div>
    {%  endif %}

    {% block page_header %}
    {% endblock %}

    {% block content%}
    {% endblock %}

    <!-- https://www.w3schools.com/howto/howto_js_sidenav.asp -->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>

    {% block postload_js %}
    {% endblock %}   
</body>
</html>