{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    {% block meta %}
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    {% endblock %}

    {% block extra_meta %}
    {% endblock%}

    {% block core_css %}
        <!-- google font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- my stylesheet -->
        <link rel='stylesheet' href="{% static 'css/base.css' %}"></link>
    {% endblock %}

    {% block extra_css %}
    {% endblock%}

    {% block core_js %}
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock%}

    <title>Cake Shop {% block extra_title %}{% endblock%}</title>
</head>
<body>
    <header class='container header sticky'>
        <div class="logo">
            <a href="{% url 'home' %}">
                <h1>
                    Cake Shop
                </h1>
            </a>
        </div>
        <div class="container nav-buttons">
            <div class="basket-icon">
                <a href="{% url 'view_basket' %}">
                    <img class="icon"  src="{{ MEDIA_URL }}icons/shopping_basket.svg" alt="basket">
                </a>
            </div>
            <div class="count">
                {% if product_count %}
                    ({{ product_count }})
                {% else %}
                    (0)
                {% endif %}
            </div>
            <div class="nav">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
                        <img class="icon"  src="{{ MEDIA_URL }}icons/close.svg" alt="close Nav">
                    </a>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'products' %}?sort=name&direction=asc">Products</a>
                    <a class="indent" href="{% url 'products' %}?sort=name&direction=asc">All Products</a>
                    {% if categories %}
                        {% for category in categories %}
                            <a class="indent" href="{% url 'products' %}?category={{ category.name }}&sort=name&direction=asc">{{ category.friendly_name }}</a>
                        {% endfor %}
                    {% endif%}
                    {% if images %}
                    <a href="{% url 'gallery' %}">Gallery</a>
                    {% endif %}
                    {% if faqs %}
                    <a href="{% url 'faqs' %}">FAQ's</a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'manage_shop' %}">Manage Shop</a>
                        {% endif %}
                            <a href="{% url 'profile' %}">Account</a>
                            <a href="{% url 'account_logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'account_login' %}">Log In</a>
                        <a href="{% url 'account_signup' %}">Register</a>
                    {% endif %}
                    <a href="{% url 'view_basket' %}">Basket 
                        {% if product_count %}
                            ({{ product_count }})
                        {% else %}
                            (0)
                        {% endif %}
                    </a>
                    <p>Contact us on:</p>
                    <a class="indent" href="https://www.facebook.com/messages/t/100590915463218">Facebook</a>
                    <a class="indent" href="mailto:cakes@cakeshop.com">Email</a>
                </div>
                <img onclick="openNav()" class="icon" src="{{ MEDIA_URL }}icons/menu.svg" alt="menu">
            </div>
        </div>
    </header>

    <div class="page-content">
        <section class="messages">
            {% if messages %}
                <div class='message-container'>
                {% for message in messages %}
                    <div class="message">
                        {{message}}
                    </div>    
                {% endfor %}
                </div>
            {%  endif %}
        </section>
    
        <section class="page-header">
            {% block page_header %}
            {% endblock %}
        </section>
    
        <section class="section-content">
            {% block content%}
            {% endblock %}
        </section>
    </div>

    <footer >
        <div class="col w-100">
            <div class="row base-footer-center">
                <p>Do you have a Special Request?</p>
                <a class="link" href="https://www.facebook.com/messages/t/100590915463218">Contact us on Facebook</a>
            </div>
            {% if faqs %}
                <div class="row base-footer-center">
                    <p>Have Questions? Check out our</p>
                    <a class="link" href="{% url 'faqs' %}">FQAs</a>
                </div>
            {% endif %}
            <div class="row base-footer-space">
                <div class="col socials">
                    <p>Socials</p>
                    <div class="social-links row">
                        <a href="https://www.instagram.com/" target="_blank">
                            <img class="icon social-icon" src="{{ MEDIA_URL }}icons/instagram.svg" alt="instagram logo">
                        </a>
                        <a href="https://www.facebook.com/" target="_blank">
                            <img class="icon social-icon" src="{{ MEDIA_URL }}icons/facebook.svg" alt="facebook logo">
                        </a>
                        <a href="https://www.twitter.com/" target="_blank">
                            <img class="icon social-icon" src="{{ MEDIA_URL }}icons/twitter.svg" alt="twitter logo">
                        </a>
                    </div>
                </div>
                <div class="col credits">
                    <div class="row">
                        <p>Created by </p>
                        <a class="link" href="https://github.com/CharlieMallon" target="_blank">
                            Charlie Mallon<img class="icon small-icon inline-img" src="{{ MEDIA_URL }}icons/github.svg" alt="github logo">
                        </a>
                    </div>
                    <div class="row">
                        <p>Images Copyright</p>
                        <a class="link" href="https://www.facebook.com/cantelotreats" target="_blank">
                            Cantelo Treats
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- https://www.w3schools.com/howto/howto_js_sidenav.asp -->
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "200px";
        }
        
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    {% block postload_js %}
    {% endblock %}   
</body>
</html>