{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content%}
<!-- Search Bar-->
{% include 'includes/search.html' %}

<section>
	<h2>Contact Us</h2>
    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token%}
        {{ form }}
        <div class="col">
            <a href="{% url 'home' %}" class="">
                <span class="">Back</span>
            </a>
            <button type="submit">Send Message</button>
        </div>
    </form>
</section>

{% endblock %} 

{% block postload_js %}
{% endblock %}
