{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Search Bar-->
{% include 'includes/search.html' %}

<div class="page-title">
    <h2>Contact Us</h2>
</div>

{% endblock %}

{% block content%}

<section>
    <form method="POST" action="{% url 'contact' %}" class="col contact-form">
        {% csrf_token%}
        <p>Full Name: {{ form.full_name}}</p>
        <p>Email: {{ form.email }}</p>
        <p>Subject: {{ form.subject }}</p>
        <p id="message-label">Message:</p>
        <p>{{ form.message_text }}</p>
        <div class="row contact-button-row">
            <a href="{% url 'home' %}" class="button">
                Back
            </a>
            <button type="submit">Send Message</button>
        </div>
    </form>
</section>

{% endblock %} 

{% block postload_js %}
{% endblock %}
