{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Search Bar-->
{% include 'includes/search.html' %}

{% endblock %}

{% block content %}

<div class="container col">
    <div class="w-100">
        <div class="card-header row">
            <h3 class="big-text">Category Management</h3>
            <div>
                <a href="{% url 'manage_shop' %}" class="button">
                    Back
                </a>
            </div>
		</div>
		<div class="card-content">
			{% for category in categories %}
                <div class="card cat-row">
                    <div class="container">
                        <img class="product-img cat-image" src="{{ category.image.url }}" alt="{{ category.name }}" />
                    </div>
                    <div class="big-text">
                        <p>{{ category.friendly_name }}</p>
                    </div>
                    <div class="button-row cat-buttons">
                        <a class="button" href="{% url 'edit_category' category.id %}">
                            Edit
                        </a>
                        <a class="button" href="{% url 'delete_category' category.id %}">
                            Delete
                        </a>
                    </div>
                </div>
            {% endfor %}
		</div>
	</div>
    <div class="card cat-card">
		<div class="card-header">
			<h3>Add Category</h3>
		</div>
		<div class="card-content">
            <form method="POST" action="{% url 'add_category' %}" enctype="multipart/form-data">
                {% csrf_token%}
                <div class="col new-category">
                    <div class="row">
                        <p class="label">
                            Category:
                        </p>
                        <p class="input">
                            {{ form.name }}
                        </p>
                    </div>
                    <div class="row">
                        <p class="label">
                            Display Name:
                        </p>
                        <p class="input">
                            {{ form.friendly_name }}
                        </p>
                    </div>
                    <div class="image-picker col">
                        <p class="label">
                            Image:
                        </p>
                        <p class="input">
                        {{ form.image }}
                        </p>
                    </div>
                </div>
                <div class="button-row">
                    <button type="submit">
                        Add category
                    </button>
                </div>
            </form>
        </div>
	</div>
</div>

{% endblock %}

{% block postload_js %}
{% endblock %}