{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Search Bar-->
{% include 'includes/search.html' %}
<div class="card-header row">
    <h2 class="big-text">Editing {{ category.friendly_name }} Category</h2>
    <div>
        <a href="{% url 'categories' %}" class="button">
            Back
        </a>
    </div>
</div>

{% endblock %}

{% block content%}

<form method="POST" action="{% url 'edit_category' category.id %}" enctype="multipart/form-data">
<div class="card container">
    <div class="card-content">
            {% csrf_token%}
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="label">
                            Curent Image:
                        </p>
                        <p class="input">
                            <img class="cat-image" src="{{ category.image.url }}" alt="{{ category.name }}" />
                        </p>
                    </div>
                    <div class="col">
                        <div class="col">
                            <p class="label">
                                Category:
                            </p>
                            <p class="input">
                                {{ form.name }}
                            </p>
                        </div>
                        <div class="col">
                            <p class="label">
                                Display Name:
                            </p>
                            <p class="input">
                                {{ form.friendly_name }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="image-picker col">
                    <p class="label">
                        Image is 
                    </p>
                    <p class="input">
                    {{ form.image }}
                    </p>
                </div>
            </div>
            <div class="button-row">
                <button type="submit" class="" value="Edit category">
                    Edit category
                </button>
                <div class="open-modal">
                    <p class="delete click button">
                        Delete
                    </p>
                </div>
                <!-- Delete Modal -->
                <div class="modal-background hidden" data-closer="close">
                    <div class="modal">
                        <div class="modal-title">
                            <p>Delete Category?</p>
                            <img class="icon small-icon inline-img" src="{{ MEDIA_URL }}icons/close.svg" alt="close" class="close" data-closer="close">
                        </div>
                        <div class="modal-content">
                            <div class="modal-par col">
                                <p>Are you sure you want to delete</p> 
                                <p>"{{ category.friendly_name }}"?</p>
                            </div>
                        </div>
                        <div class="modal-btns">
                            <div class="button no-btn" data-closer="close">
                                No, Keep it
                            </div>
                            <a class="button" href="{% url 'delete_category' category.id %}">Yes Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block postload_js %}
{% include 'includes/modal_script.html' %}
{% endblock %}