{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container col">
    <div class="w-100">
        <h3 class="">Edit Product</h3>
    </div>
    <div class="card-content W-100 col">
        <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
            {% csrf_token%}
            {{ form }}
            <div class="col">
                <a href="{% url 'products' %}" class="">
                    <span class="">Back</span>
                </a>
                <input type="submit" class="" value="Edit Product">
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block postload_js %}
{% endblock %}