{% extends 'base.html' %}
{% load static %}

{% block page_header %}

<!-- Search Bar-->
{% include 'includes/search.html' %}

{% endblock %}

{% block content %}
    <div class="container w-100 col">
        <div class="w-100 col products-header">
            <div class="row products-filters">
                {% if request.user.is_superuser %}
                <button class="super-user-button">
                    <a href="{% url 'add_product' %}">Add Products</a>
                </button>
                {% endif %}
                <div class="curent-filters">
                    {% for category in current_categories %}
                        <div class="button filter-button">
                            <a href="">{{category.friendly_name}} &#10006;</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="col">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
            {% if products %}
            <p class="product-num">
                {{ products|length }} Products
            </p>
            {% endif %}
        </div>
        <div class="w-100 col">
        {% if products %}
            {% for product in products %}
            <div class="card col">
                <div class="card-content w-100 product-card-content row">
                    <div class="product-img w-50">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="" src="{{ product.image.url }}" alt=""/>
                        </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="product-info col w-50">
                        <div class="product-card-header col">
                            <a href="{% url 'product_detail' product.id %}">
                                <h3 class="product-title">{{ product.name }}</h3>
                            </a>
                            <div class="row product-details">
                                <a class="category link"
                                    href="{% url 'products' %}?category={{ product.category.name }}&sort=name&direction=asc">
                                    {{ product.category.friendly_name }}
                                </a>
                                <strong>
                                    <p class="product-price">£{{ product.price }}</p>
                                </strong>
                            </div>
                        </div>
                        <div class="product-text col">
                            <p>
                                {{ product.description|truncatechars:67 }}
                            </p>
                        </div>
                        <div class="product-card-buttons row">
                            <form class="add-basket-form form w-100" action="{% url 'add_to_basket' product.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="w-100 col">
                                        <div class="col qty-row w-100 buy-row">
                                            <div class="form-group col">
                                                <div class="input-group">
                                                    <button class="decrement-qty qty-btn" 
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <img class="icon small-icon"  src="{{ MEDIA_URL }}icons/remove.svg" alt="remove">
                                                    </button>
                                                    <input class="form-control form-control-sm qty-prod-card qty_input" type="number"
                                                        name="quantity" value="1" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <button class="increment-qty qty-btn"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <img class="icon small-icon"  src="{{ MEDIA_URL }}icons/add.svg" alt="add">
                                                    </button>
                                                </div>
                                                <button class='add-basket-btn' type="submit">
                                                    Add to Basket
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if request.user.is_superuser %}
                    <div class="row super-user-button-row">
                        <a href="{% url 'edit_product' product.id %}">
                            <button class="super-user-button">
                                Edit
                            </button>   
                        </a>
                        <a href="{% url 'delete_product' product.id %}">
                            <button class="super-user-button">
                                Delete
                            </button>   
                        </a>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
            <p>Sorry someone bought all the cakes!</p>

        {% endif %}
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {% include 'includes/quantity_input_script.html' %}
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>

{% endblock %}